/*
 * This file is part of http://github.com/adamdburton/pointshop-documentation
 *
 * (c) Adam Burton <adam@equinox-studios.co.uk>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

header {
	background: #C94747;
	padding: 15px 0;
}

header a, header a:visited {
	color: #FFF;
	text-decoration: none;
	font-size: 18px;
}

#branding a {
	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
}

#tagline {
	text-align: right;
}

#tagline a {
	line-height: 32px;
}

#banner_wrap {
	position: relative;
	background: #000;
}

#banner {
	background: url('/images/ps.jpg') 50% 0 no-repeat;
	background-size: cover;
	height: 575px;
}

#content, aside {
	padding: 30px 0;
}

body.index #content {
	text-align: center;
}

body.index .a2a_kit {
	margin: 0 auto;
	width: 150px;
}

aside ul {
	list-style-type: square;
	margin-bottom: 0;
}

aside > ul {
	padding: 15px 15px 15px 40px;
	background: #F5F5F5;
	margin-bottom: 30px;
}

aside ul li {
	margin-bottom: 5px;
}

aside ul li ul {
	display: none;
	padding-left: 20px;
	padding-top: 5px;
}

aside ul li.current > ul,
aside ul li.parent_current > ul {
	display: block;
}

aside ul li a {
	text-decoration: none;
	word-wrap: break-word;
}

aside a,
aside a:visited {
	color: #525252;
}

aside a:hover,
aside a:active {
	color: #000;
}

aside li.parent_current > a {
	color: #C94747;
}

aside li.current > a {
	color: #C94747;
}

aside li a.toc-1 {
	font-size: 22px;
}

aside li a.toc-2 {
	font-size: 20px;
}

div#page-content {
	margin-bottom: 120px;
}

div#breadcrumb {
	margin-bottom: 20px;
	font-size: 12px;
	color: #A5A5A5;
}

div#breadcrumb a {
	text-decoration: none;
	color: #636363;
}

div#breadcrumb a:hover {
	text-decoration: underline;
}

span.client, span.server, span.shared, span.type {
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	display: inline-block;
	color: #FFF;
	padding: 3px 6px;
}

span.client {
	background: #D6C885;
}

span.server {
	background: #70BFE4;
}

span.shared {
	background: #A0C91E;
}

span.type {
	background: #89C094;
}

p.info, p.warning, p.error {
	color: #FFF;
	padding: 15px;
	font-size: 18px;
	line-height: 26px;
	border-radius: 4px;
	box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
}

p.info i, p.warning i, p.error i {
	font-size: 52px;
	float: left;
	margin: 0 15px 0 0;
}

p.info {
	background: #5DA6DF;
}

p.warning {
	background: #E0B74E;
}

p.error {
	background: #E04E4E;
}

footer {
	padding: 30px 0;
	text-align: center;
	color: #A0A0A0;
}

@media only screen and (max-width: 1280px), only screen and (max-height: 900px) {
	
	#banner {
		height: 350px;
	}
	
	a#fork {
		display: none;
	}
	
}

@media only screen and (max-width: 767px) {
	
	#branding {
		text-align: center;
		margin-bottom: 10px;
	}
	
	#tagline {
		text-align: center;
	}
	
	#banner {
		height: 250px;
	}
}