/*
 * This file is part of http://github.com/adamdburton/pointshop-documentation
 *
 * (c) Adam Burton <adam@equinox-studios.co.uk>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

header {
	background: #C94747;
	padding: 15px 0;
}

header a, header a:visited {
	color: #FFF;
	text-decoration: none;
	font-size: 18px;
}

#branding a {
	font-weight: bold;
}

#tagline {
	text-align: right;
}

#banner_wrap {
	position: relative;
	background: #000;
}

#banner {
	background: url('/images/ps.jpg') 50% 0 no-repeat;
	background-attachment: fixed;
	height: 660px;
}

#content, aside {
	padding: 30px 0;
}

body.index #content {
	text-align: center;
}

aside ul {
	list-style: none;
	margin-bottom: 0;
}

aside > ul {
	padding: 15px 0 15px 15px;
	background: #F5F5F5;
	margin-bottom: 30px;
}

aside ul li {
	margin-bottom: 5px;
}

aside ul li ul {
	display: none;
	padding-left: 15px;
	padding-top: 5px;
}

aside ul li.current > ul,
aside ul li.parent_current > ul {
	display: block;
}

aside ul li a {
	text-decoration: none;
}

aside a,
aside a:visited {
	color: #525252;
}

aside a:hover,
aside a:active {
	color: #000;
}

aside li.parent_current > a {
	color: #C94747;
}

aside li.current > a {
	color: #C94747;
}

aside li a.toc-1 {
	font-size: 22px;
}

aside li a.toc-2 {
	font-size: 20px;
}

span.client, span.server, span.shared, span.type {
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	display: inline-block;
	color: #FFF;
	padding: 3px 6px;
}

span.client {
	background: #E7C730;
}

span.server {
	background: #00ADFF;
}

span.shared {
	background: #A0C91E;
}

span.type {
	background: #BB74BB;
}

footer {
	padding: 30px 0;
}