{% extends 'layout.twig' %}

{% block meta %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/js/index.js"></script>
{% endblock %}

{% block content %}
	<div id="banner_wrap">
		<div id="banner"></div>
	</div>
	
	<div class="row">
		<div class="twelve columns">
			<div id="content">
				<h1 itemprop="name">{{ page.title }}</h1>
				<div itemprop="description">
					{{ page.content }}
				</div>
				
				{% if config.share_buttons %}
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
						<a class="a2a_button_google_plus"></a>
					</div>
					<script type="text/javascript">
						var a2a_config = a2a_config || {};
						a2a_config.onclick = 1;
					</script>
					<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}